<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Perceptrion{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="page-top">
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/Chart.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/scrolling-nav.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/epoki.js') }}"></script>
        {% endblock %}
    </body>
    <footer>
        <div class="container text-right">
            <h5>
                Autorzy:<br>
            </h5>
            <label>Łukasz Skórski</label><br>
            <label>Adam Kazimierski</label><br>
            <label>Klaudia Długołęcka</label>
        </div>
    </footer>
</html>
