{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                Perceptron
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#konfiguracja">Konfiguruj</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#oblicz">Oblicz</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Projekt perceptronu</h1>
            <p class="lead">Poniżej znajduje się formularz konfiguracyjny</p>
        </div>
    </header>

    <section id="konfiguracja" class="bg-light">
        <form class="container text-right" id="konfiguracjaForm" method="POST" action="{{ path('perceptronPrzygotuj') }}">
            <div class="form-group row border">
                <div class="col-4">
                    <label>Podaj współczynnik p:</label>
                </div>
                <div class="col-8">
                    <input type="number" required="required" name="p" step="0.01" value="0.1">
                </div>
            </div>
            <div class="form-group row border">
                <div class="col-4">
                    <label>Podaj liczbę N:</label>
                </div>
                <div class="col-8">
                    <input type="number" required="required" max="441" step="1" name="n" value="3">
                </div>
            </div>

            <div class="form-group row border">
                <div class="col-4">
                    <label>Podaj a i b do funkcji f(x)=ax<sub>1</sub>+b</label>
                </div>
                <div class="col-8 row">
                    <div class="col-12 col-md-6">
                        <label>a:</label>
                        <input type="number" required="required" step="0.01" name="a" value="10">
                    </div>
                    <div class="col-12 col-md-6">
                        <label>b:</label>
                        <input type="number" required="required" step="0.01"  name="b" value="1">
                    </div>
                </div>
            </div>

            <div class="form-group">

                <strong class="text-center">
                    Uwaga wypełnij jedno! (w przypadku wypełnienia obu, pod uwagę będą wzięte tylko i wyłacznie pola wag).
                </strong>
            <div class="row border">

                <div class="col-4">
                    <label>Podaj macierz Wag:</label>
                </div>
                <div class="col-8">
                    <ol>
                        <li>
                            <label>w0:</label>
                            <input type="number" step="0.1"  name="w0" value="-1">
                        </li>
                        <li>
                            <label>w1:</label>
                            <input type="number" step="0.1"  name="w1" value="1">
                        </li>
                        <li>
                            <label>w2:</label>
                            <input type="number" step="0.1"  name="w2" value="2">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row border">

                <div class="col-4">
                    <label>Lub podaj zakresy dla macierzy wag:</label>
                </div>
                <div class="col-8">
                    <ol>
                        <li>
                            <label>w0:</label>
                            <input type="number" step="0.1"  name="zw0" value="">
                        </li>
                        <li>
                            <label>w1:</label>
                            <input type="number" step="0.1"  name="zw1" value="">
                        </li>
                    </ol>
                </div>
            </div>

            </div>
            <div class="form-group border">
                <label for="isUniPolar">Funkcja aktywacji unipolarna</label>
                <input type="checkbox" name="isUnipolarna" id="isUniPolar" checked>
            </div>
            <input type="submit" class="btn btn-success" id="zatwierdzonyFormualarz" value="Oblicz!">
        </form>
    </section>
    <section id="oblicz">
        <div class="container">
            <table id="tableEpok" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Epoka</th>
                        <th>t</th>
                        <th>x<sub>0</sub>(t)</th>
                        <th>x<sub>1</sub>(t)</th>
                        <th>x<sub>2</sub>(t)</th>
                        <th>d(t)</th>
                        <th>w<sub>0</sub>(t)</th>
                        <th>w<sub>1</sub>(t)</th>
                        <th>w<sub>2</sub>(t)</th>
                        <th>s(t)</th>
                        <th>y(t)</th>
                        <th>Ok?</th>
                        {#<th>Wykres</th>#}
                    </tr>
                </thead>
                <tbody id="tableBody">
                {#{% for i in (1..5) %}#}
                    {#<tr id="t{{ i }}">#}
                        {#{% for j in (1..11) %}#}
                        {#<td>{{ j }}</td>#}
                        {#{% endfor %}#}
                    {#</tr>#}
                {#{% endfor %}#}



                </tbody>
            </table>

            {#<div class="row">#}

                <input type="hidden" value="{{ path('perceptronPrzygotuj') }}" id="nastepnyKrokGeneruj">
                <label for="chartSelect">Wczytaj dane wykresu z poprzednich zmian:</label>
                <select id="chartSelect">
                </select>
                <button type="button" id="nextPokolenie" class="btn btn-outline-info float-right">Generuj nastepna generacje</button>
            {#</div>#}
                <canvas id="chart">

                </canvas>
        </div>

    </section>
{% endblock %}

