<tr id="t{{ percep.t }}">

    <td>{{ percep.e }}</td>
    <td>{{ percep.t }}</td>

    <td>{{ percep.x[0] }}</td>
    <td>{{ percep.x[1] }}</td>
    <td>{{ percep.x[2] }}</td>

    <td>{{ percep.d }}</td>

    <td>{{ percep.w[0] }}</td>
    <td>{{ percep.w[1] }}</td>
    <td>{{ percep.w[2] }}</td>

    <td>{{ percep.s }}</td>
    <td>{{ percep.y }}</td>

    <td>{{ percep.isOk?'T':'N' }}</td>
    {#<td>#}
        {#{% if percep.tablicaDanychDlaOsi is not null %}#}
            {#<button class="generujWykres btn btn-outline-dark" value="{{ percep.tablicaDanychDlaOsi|json_encode() }}">Pokaż na wykresie</button>#}
        {#{% else %}#}
            {#<strong>Sprzeczność!</strong>#}
        {#{% endif %}#}
    {#</td>#}
</tr>